@import '../../styles/variables.scss';

.container {
    position: relative;
    overflow-x: hidden;

    .backgroundVideo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .content {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__logo {
            display: flex;
            margin: 0 auto;
        }

        &__image {
            padding-top: 38px;
            padding-left: 6px;
        }

        &__title {
            font-family: $primary-font;
            font-size: 100px;
            color: #282828;
            font-weight: 300;
            line-height: 0.5;
            margin-bottom: 10px;
        }
    }
}

.texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
}

.texts p:first-child {
    margin-top: 20px;
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 20px;
}

.texts p:nth-child(2) {
    font-size: 22px;
    font-weight: 300;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    white-space: pre-wrap;
}

@media (max-width: 600px) {
    .content {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__logo {
            display: flex;
        }

        &__image {
            width: 40px;
            height: 60px;
        }

        &__title {
            font-family: $primary-font;
            font-size: 70px !important;
            color: #282828;
            font-weight: 300;
            line-height: 0.5;
            margin-bottom: 10px;
        }
    }

    .texts {
        display: flex;
        flex-direction: column;

        p:first-child {
            display: none;
            margin: 20px 40px;
            font-size: 25px;
            font-weight: 500;
        }

        p:nth-child(2) {
            margin-top: 18px;
            font-size: 19px;
            font-weight: 400;
            text-align: center;
            white-space: pre-wrap;
        }
    }
}
