
.card {
    align-items: center;
    background-color: rgba(236, 239, 241, 0.36);
    padding: 40px 60px 60px 60px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
  
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        
        label {
          margin-bottom: -12px;
          font-weight: bold;
          align-self: flex-start;
          font-size: 18px;
          font-weight: 500;
        }
        
        input,
        textarea {
          background-color: rgba(255, 255, 255, 0.47);
          height: 40px;
          border: 1px solid #cccccc8c;
          border-radius: 4px;
          width: 370px;
          font-size: 20px;
        }
        
      }
    }

   .errors {
    color: rgb(165, 1, 1);

    display: flex;
    flex-direction: row;
    margin-top: -20px;
    justify-content: flex-start;
    align-self: start;

    &__icon {
      width: 30px;
      margin-right: 10px;
    }
   } 
  .message {
      font-size: 18px;
  }  
  
  @media (max-width: 600px) {
    .card {
      max-width: 215px;
      padding: 30px 70px 30px 70px;

      .form {
        gap: 20px;
        
        label {
          font-weight: bold;
          align-self: flex-start;
          font-size: 18px;
          font-weight: 500;
        }
        
        input,
        textarea {
          width: 300px;
        }
        
      }
    }
  }

  @media (max-width: 360px) {
    .card {
      max-width: 190px;
      padding: 30px 70px 30px 70px;

      .form {
        gap: 20px;
        
        label {
          font-weight: bold;
          align-self: flex-start;
          font-size: 18px;
          font-weight: 500;
        }
        
        input,
        textarea {
          width: 300px;
        }
        
      }
    }
  }


  